<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta charset="UTF-8">

    <title>{{ title }}</title>

    <link rel="stylesheet" href="/static/app.css" />
    {% endblock head %}
</head>

<body>
    <div class="header-bar">
        <button class="theme-btn" id="theme-dropdown" onclick="toggleDropdown()">
            Theme
            <span id="chevron" style="font-size:10px">▾</span>
        </button>

        <div class="dropdown" id="dropdown">
            <div class="picker-row">
                <label>Presets</label>
            </div>
            <div class="preset-selector picker-row">
                <div id="preset-swatches" class="swatch-group">
                    <button class="preset-swatch active" data-preset="default"
                        style="background-color: #1f2c35;"></button>
                    <button class="preset-swatch" data-preset="oceanic" style="background-color: #4bb0eb;"></button>
                </div>
            </div>
            <div class="picker-row">
                <label>Background</label>
                <div class="color-input"><input type="color" id="c-bg" value="#1f2c35"></div>
            </div>
            <div class="picker-row">
                <label>Text</label>
                <div class="color-input"><input type="color" id="c-text" value="#c4dfcf"></div>
            </div>
            <div class="picker-row">
                <label>Container</label>
                <div class="color-input"><input type="color" id="c-container" value="#1e2430"></div>
            </div>
            <div class="picker-row">
                <label>List Item</label>
                <div class="color-input"><input type="color" id="c-list-item" value="#17202b"></div>
            </div>
            <div class="picker-row">
                <label>List Shadow</label>
                <div class="color-input"><input type="color" id="c-list-shadow" value="#232e3b"></div>
            </div>
            <div class="picker-row">
                <label>Primary</label>
                <div class="color-input"><input type="color" id="c-primary" value="#10A010"></div>
            </div>
            <div class="picker-row">
                <label>Text Highlight</label>
                <div class="color-input"><input type="color" id="c-text-highlight" value="#e7ab38"></div>
            </div>
            <div class="picker-row">
                <label>Code Background</label>
                <div class="color-input"><input type="color" id="c-code-bg" value="#112334"></div>
            </div>
            <div class="picker-row">
                <label>Back Link</label>
                <div class="color-input"><input type="color" id="c-back-link" value="#ffeeff"></div>
            </div>
        </div>
    </div>

    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>

    {% block footer %}
    <script>
        const PRESETS = {
            'default': {
                'c-bg': '#1f2c35',
                'c-text': '#c4dfcf',
                'c-container': '#1e2430',
                'c-list-item': '#17202b',
                'c-list-shadow': '#232e3b',
                'c-primary': '#10A010',
                'c-text-highlight': '#e7ab38',
                'c-code-bg': '#112334',
                'c-back-link': '#ffeeff'
            },
            'oceanic': {
                'c-bg': '#429dd1',
                'c-text': '#c9d2d4',
                'c-container': '#2e637a',
                'c-list-item': '#22627c',
                'c-list-shadow': '#0f2f41',
                'c-primary': '#ecda37',
                'c-text-highlight': '#eee6cf',
                'c-code-bg': '#1a3d4e',
                'c-back-link': '#f1c9ef'
            },
        };

        function applyPreset(presetName) {
            const preset = PRESETS[presetName];
            if (!preset) return;

            for (const id in preset) {
                const color = preset[id];
                const input = document.getElementById(id);

                input.value = color;
                const attribute = id.substr(2);
                const colorName = `--color-${attribute}`;
                document.documentElement.style.setProperty(colorName, color);
                localStorage.setItem(colorName, color);
            }
        }

        const inputs = document.getElementsByTagName('input');

        for (const input of inputs) {
            if (input.type === 'color') {
                const colorName = `--color-${input.id.substr(2)}`;
                const savedColor = localStorage.getItem(colorName);

                if (savedColor) {
                    document.documentElement.style.setProperty(colorName, savedColor);
                    input.value = savedColor;
                }

                input.addEventListener('input', e => {
                    const attribute = e.target.id.substr(2);
                    const colorName = `--color-${attribute}`;
                    const newValue = e.target.value;
                    document.documentElement.style.setProperty(colorName, newValue);
                    localStorage.setItem(colorName, newValue);
                })
            }
        }

        const swatches = document.getElementById('preset-swatches');
        swatches.addEventListener('click', e => {
            const button = e.target.closest('.preset-swatch');
            const presetName = button.dataset.preset;
            applyPreset(presetName);

            document.querySelectorAll('.preset-swatch').forEach(btn => btn.classList.remove('active'));
            button.classList.add('active');
        });

        function toggleDropdown() {
            const chevron = document.getElementById('chevron');
            const dropdown = document.getElementById('dropdown');

            const dropdown_open = dropdown.classList.toggle('dropdown-open');

            chevron.textContent = dropdown_open ? '▴' : '▾';
        }
    </script>
    {% endblock footer %}
</body>

</html>
