{% extends "base.html" %}
{% block content %}
<div class="header-bar">
    <button class="theme-btn" id="theme-dropdown" onclick="toggleDropdown()">
        Theme
        <span id="chevron" style="font-size:10px">▾</span>
    </button>

    <div class="dropdown" id="dropdown">
        <div class="picker-row">
            <label>Background</label>
            <div class="color-input"><input type="color" id="c-bg" value="#3b82f6"></div>
        </div>
        <div class="picker-row">
            <label>Text</label>
            <div class="color-input"><input type="color" id="c-text" value="#ffffff"></div>
        </div>
    </div>
</div>

<h1>Snippies</h1>

<input type="color" id="pick-text" value="#c4dfcf">

<div class="snippie-container">
    <ul class="snippie-list">
        {% for snippie in snippies %}
        <li>
            <a href='snippie/{{ snippie.title }}.html'>{{ snippie.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="new-snippie-container">
    <h1>Create new snippie</h1>
    <form action="/new" method="POST">
        <label for="title">Title</label>
        <input type="text" name="title" required />

        <label for="contents">Contents</label>
        <textarea name="contents" rows="4" autocomplete="off" required wrap="soft"></textarea>

        <button type="submit">Save</button>
    </form>
</div>
{% endblock content %}

{% block footer %}
<script>
    document.getElementById('pick-text').addEventListener('input', e => {
        document.documentElement.style.setProperty('--color-text', e.target.value);
    });

    function toggleDropdown() {
        const chevron = document.getElementById('chevron');
        const dropdown = document.getElementById('dropdown');

        const dropdown_open = dropdown.classList.toggle('dropdown-open');

        chevron.textContent = dropdown_open ? '▴' : '▾';

    }
</script>
{% endblock footer %}
